#footer-inner
  #footer-content.row
    .col-xs-12.p
      a.footer-link(href="mailto:zach.fogg[AT]gmail[DOT]com"  target="_blank")
        i.fa.fa-envelope
      | &ensp;&ensp;
      a.footer-link(href="//twitter.com/zfogg"          target="_blank")
        i.fa.fa-twitter
      | &ensp;&ensp;
      a.footer-link(href="//www.facebook.com/zach.fogg" target="_blank")
        i.fa.fa-facebook
      | &ensp;&ensp;
      a.footer-link(href="//www.instagr.am/zfogg"       target="_blank")
        i.fa.fa-instagram
      | &ensp;&ensp;
      a.footer-link(href="//www.github.com/zfogg"       target="_blank")
        i.fa.fa-github-alt
      | &ensp;&ensp;
      a.footer-link(href="//www.github.com/zfogg"       target="_blank")
        i.fa.fa-bitcoin
