a(href="mailto:zach.fogg[AT]gmail[DOT]com"  target="_blank")
  .footer-link
    i.fa.fa-envelope
a(href="//twitter.com/zfogg"                target="_blank")
  .footer-link
    i.fa.fa-twitter
a(href="//www.facebook.com/zach.fogg"       target="_blank")
  .footer-link
    i.fa.fa-facebook
a(href="//www.instagr.am/zfogg"             target="_blank")
  .footer-link
    i.fa.fa-instagram
a(href="//www.github.com/zfogg"             target="_blank")
  .footer-link
    i.fa.fa-github-alt
a(href="/bitcoin")
  .footer-link
    i.fa.fa-bitcoin
