
footer#footer.row.btc-row(ng-cloak)
  #footer-inner
    #footer-content.p
      a(href="mailto:zach.fogg[AT]gmail[DOT]com"  target="_blank") Email
      | &ensp;·&ensp;
      a(href="https://twitter.com/zfogg"          target="_blank") Twitter
      | &ensp;·&ensp;
      a(href="https://www.facebook.com/zach.fogg" target="_blank") Facebook

