#footer-inner.container-fluid
  #footer-content.row
    .col-xs-12
      a(href="mailto:zach.fogg[AT]gmail[DOT]com"  target="_blank")
        i.fa.fa-envelope
      | &ensp;·&ensp;
      a(href="https://twitter.com/zfogg"          target="_blank")
        i.fa.fa-twitter
      | &ensp;·&ensp;
      a(href="https://www.facebook.com/zach.fogg" target="_blank")
        i.fa.fa-facebook

