@import 'sass-bootstrap/lib/variables'
@import 'layout/variables'

@import 'sass-bootstrap/lib/mixins'
@import 'sass-bootstrap/lib/normalize'
@import 'sass-bootstrap/lib/glyphicons'
@import 'sass-bootstrap/lib/grid'
@import 'sass-bootstrap/lib/type'


*, *:before, *:after
  @include box-sizing(border-box)

html, body, #buffer
  height: 100%

body
  z-index: -99
  overflow-x: hidden

#wrapper
  white-space: pre-line
  min-height: 100%

#wrapper
  margin-bottom: -1*$footer-height
  width: 100%

#wrapper:after
  content: ""
  display: block

#footer, #wrapper:after
  height: $footer-height

.clearfix
  @include clearfix()

input
  @include placeholder($white)

*:focus, *:active, *:hover
  outline: none

.vspace
  height: 1rem


#content
  text-align: center

#footer
  .footer-link
    &:hover
      animation: flash 0.4s
  #footer-inner
    height: 100%
    width: 100%
    display: table
    #footer-content
      white-space: pre-line
      display: table-cell
      vertical-align: middle
      text-align: center


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important


#buffer
  &.ng-enter
    animation: fadeIn 0.4s

.main-view
  $enterTime: 0.5s

  &.ng-enter
    animation: fadeInUp $enterTime
    transition: $enterTime linear all
    opacity: 0

  &.ng-enter.ng-enter-active
    opacity: 1


.text-truncate
  width: 100%
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.v-center-view
  margin-top: 60vmax
  &:before
    margin-top: -45vmax
