@import 'sass-bootstrap/lib/variables'
@import 'layout/variables'

@import 'sass-bootstrap/lib/mixins'
@import 'sass-bootstrap/lib/normalize'
@import 'sass-bootstrap/lib/glyphicons'
@import 'sass-bootstrap/lib/grid'


*, *:before, *:after
  @include box-sizing(border-box)

html, body, #buffer
  min-height: 100%
  height: 100%

body
  z-index: -99
  overflow-x: hidden

#wrapper
  white-space: pre-line
  min-height: 100%
  margin-bottom: -1*$footer-height

#wrapper:after
  content: ""
  display: block

#footer, #wrapper:after
  height: $footer-height

.wrapper
  overflow: hidden
  margin: 0 auto

.clearfix
  @include clearfix()

input
  @include placeholder($white)

*:focus, *:active, *:hover
  outline: none


#header
  white-space: normal

#footer
  padding-top: 0
  padding-bottom: 0
  #footer-inner
    height: 100%
    width: 100%
    display: table
    #footer-content
      white-space: pre-line
      display: table-cell
      vertical-align: middle
      text-align: center
  a
    &:hover
      color: $white
    color: $white


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important


#buffer
  &.ng-enter
    animation: fadeIn 0.4s

#wrapper
  &.main-view
    $enterTime: 0.3s
    $leaveTime: 0.2s
    &.ng-leave
      animation: fadeOutUp $leaveTime
    &.ng-enter
      animation: fadeInDown $enterTime $leaveTime

