#fourOhFour.single-view.container-fluid
  header#header.row
    .col-xs-12

  section#content
    h2 404 :/
    h3
      | Are you lost?
      | You should 
      a(href="/") head back
      |  to safety.

