
header#header.text-center
  a(href="/")
    .h1 zfogg


section#content.text-center

  .things-wrapper

    .thing-row
      h3 I make things, like
    a(href="//github.com/zfogg/ascii-chat/blob/master/README.md" target="_blank")
      .thing
        .thing-inner
          p ascii-chat
    a(href="/thing/gravity")
      .thing
        .thing-inner
          p gravity
    a(href="//2016.bitca.mp" target="_blank")
      .thing
        .thing-inner
          p bitca.mp

