#main.single-view
  header#header.text-center
    .col-xs-12
      h2 @zfogg

  section#content
    .col-xs-12
      h3 I make things like
      .thing
        //-a(href="/things/ascii-chat")
        a(href="//github.com/zfogg/ascii-chat" target="_blank")
          p ascii-chat
      .thing
        a(href="/thing/gravity")
          p gravity
      .thing
        a(href="//dev.bitca.mp" target="_blank")
          p bitca.mp
      .thing
        a(href="//dryice.io" target="_blank")
          p dryice.io
      .thing
        a(href="//bopit.io" target="_blank")
          p bopit.io
