#main.single-view
  header#header.text-center
    .col-xs-12
      h2 @zfogg

  section#content
    .col-xs-12.col-sm-4
      h3 maker of things like
      .thing
        //-a(href="/things/ascii-chat")
        a(href="https://github.com/zfogg/ascii-chat" target="_blank")
          p ascii-chat
      .thing
        a(href="/thing/gravity")
          p gravity

    .col-xs-12.col-sm-4
      h3 founder and organizer of
      .thing
        a(href="https://bitca.mp/" target="_blank")
          p bitcamp
      .thing
        a(href="http://terrapinhackers.com/" target="_blank")
          p terrapin hackers

    .col-xs-12.col-sm-4
      h3 speaker of words about
      .thing
        a(href="http://zfogg.github.io/webdev-workflow/" target="_blank")
          p webdev-workflow
      .thing
        a(href="http://swipe.to/6001m" target="_blank")
          p git --help
