#main.single-view
  header#header

  section#content
    .row
      .col-xs-12
        h2 @zfogg
        h3 maker of things

    .vspace
    .vspace

    .row
      .thing
        //-a(href="/things/ascii-chat")
        a(href="https://github.com/zfogg/ascii-chat")
          p ascii-chat
      .thing
        a(href="/thing/gravity")
          p gravity
      .thing
        //-a(href="/things/ascii-chat")
        a(href="https://bitca.mp/")
          p bitcamp
      .thing
        a(href="http://terrapinhackers.com/")
          p terrapin hackers

