#main.single-view
  header#header

  section#content
    .row
      .col-xs-12
        h2 @zfogg
        h3 maker of things

    .vspace
    .vspace

    .row
      .thing
        a(href="/things/ascii-chat")
          p ascii-chat
      .thing
        a(href="/thing/gravity")
          p canvas/gravity
      .thing
        a(href="/things/ascii-chat")
          p bitca.mp
      .thing
        a(href="/things/ascii-chat")
          p terrapinhackers.com

