@import 'sass-bootstrap/lib/mixins'
@import '../layout/variables'


#content
  #yo
    overflow: visible
    margin: 0.5rem 0
    position: relative
    width: 100%
    #yo-button
      display: inline-block
      margin: 0 0.3em
      margin-bottom: -3px
    p, .p
      text-align: center
      white-space: normal
    .yo-text
      color: #9B59B6
    .yo
      font-family: $font-family-sans-serif
      margin-top: 0.2rem
      width: 100%
      position: absolute
      &.ng-enter, &.ng-leave
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s
      &.ng-enter
        opacity: 0
        transform: translateY(1.2em)
      &.ng-leave.ng-leave-active
        opacity: 0
        transform: translateY(-1.2em)
      &.ng-leave, &.ng-enter.ng-enter-active
        opacity: 1
        transform: translateY(0)


  text-align: center
  p, .p
    transition: color 0.35s ease-out
  .things-wrapper
    display: flex
    flex-flow: row wrap
    justify-content: center
    max-width: 70rem
    .thing-row
      flex: 5 100%
      padding: 1em 0
    .thing
      flex: 1
      position: relative
      min-width: 10em
      max-width: 15em
      min-height: 3em
      .thing-inner
        z-index: -1
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        transition: transform 0.14s
      &:hover .thing-inner
        transform: translateY(0.85em) scale(1.35)


@keyframes moveUp
  100%
    transform: translate(0px, 40px)

