#gravity.single-view
  header#header.text-center
    a(href="/")
      h2 @zfogg
    h3 buy me some chipotle?
      br
      small send bitcoin!

  section#content.container
    p.text-truncate
      a(href="https://blockchain.info/address/1MtRZjyigRCZWA2GVWWdbwEVNrP29XFWz5")
        | 1MtRZjyigRCZWA2GVWWdbwEVNrP29XFWz5

