header#header.text-center
  a(href="/")
    h2 zfogg
section#content.container
  h3 buy me chipotle?
  h3.text-warning send bitcoin!
  p.text-truncate
    a(href="https://blockchain.info/address/1MtRZjyigRCZWA2GVWWdbwEVNrP29XFWz5")
      | 1MtRZjyigRCZWA2GVWWdbwEVNrP29XFWz5

