header#header.text-center
  a(href="/")
    .h1 zfogg


section#content
  #gravity
    h3 gravity
      br
      small a 2d n-body simulation
    #canvas-container
      canvas#canvas(oncontextmenu="return false;")
      #canvas-controls-container
        h4.toggle-menu
          a show
          |  controls
        #canvas-controls

      #gravity-readme.text-center
        #gravity-readme-inner
          h4 gravity is interactive! you should try to
          p.toggle-menu
            | click, drag, and release
            | refresh to randomize
            br
            a#gravity-show(scroll-to="canvas") show
            |  the controls (top left)

